.formbg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 75px;
    z-index: 5;
    background: linear-gradient(rgb(98, 123, 123,0.75), rgb(113, 92, 96,0.75)),url('/public/images/mainbg.webp');
}
.inputcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
label{
    color: white;
    font-weight: 800;
}

.sellForm{
    top: 75px;
    margin: 0 auto;
}
.mainsell{
    z-index: -2;
}